<ion-view view-title="{{'li' | translate}}" 
          ng-controller="lenguajeCtrl">
    <!--boton de menu -->
    <ion-nav-buttons side="left">
        <!-- boton menu izquierdo -->
        <button menu-toggle="rigth" class="button button-icon icon ion-navicon"></button>
        <button  menu-toggle="rigth" class="button button-icon icon ion-arrow-left-a"></button>
    </ion-nav-buttons>  

    <!--contenedor-->
    <ion-content ng-class="{'center contenedor_bienvenido' : !verListas}" 
                 ng-controller="listasTableCtrl" 
                 ng-init="listasAll()">

    <!--cuando no hay listas guardadas-->
        <div ng-if="!verListas">
        <div class="">
            <div class="row">
                <div class="col">
                    <div class="contenedor_central content_central_img"></div>
                </div>
            </div>
            <center>
                <div menu-toggle="rigth" class="button button-icon icon ion-clipboard"> 
                {{ 'sinlistas' | translate }} </div>
                </div>
                <div menu-toggle="rigth">{{'creesuslistas' | translate}}</div>
            </center>
        </div>

        <!--cuando hay listas guardadas-->
        <ion-list ng-if="verListas"
                  ng-controller="SupermercadoCtrl"
                  ng-init="cargarListasSuper()">
        <!--listas-->
            <ion-item class="item item-thumbnail-left item-icon-right item-remove-animate" 
                ng-repeat="lista in getListas" 
                type="item-text-wrap"
                ng-init="super = getSuper(lista.bd_super)"
                ng-click="cargarSupermercado(super.nombre_bd, super.promocion,
                    super.ubicacion_producto, super.listas, super.id_paypal, super.pagar_entrega)"
                href="#/listselect/{{lista.id}}">
                <img src="img/listaagregar.png" style="margin-top: 18px;">
                    
                <div class="card">
                    <div class="item item-divider promocion_panel bar bar-header">
                        <h1 class="title">{{lista.nombre}}</h1>
                    </div>
                    <div class="item item-divider">
                        <h2> Total : $ {{lista.precio}}</h2>
                        <h6>{{super.nombre}}</h6>
                        <span class="item-note">
                            {{lista.fecha}}
                        </span>
                    </div>
                </div>

                <i class="icon ion-chevron-right icon-accessory"></i>
                <ion-option-button class="button-assertive" 
                    ng-click="deleteLista(lista)">
                    {{ 'el' | translate }}
                </ion-option-button>
                <ion-option-button class="button-calm ion-android-create" 
                    ng-click="showConfirm(lista)">
                    {{ 'ed' | translate }}
                </ion-option-button>

            </ion-item>
        </ion-list>       
    </ion-content>
</ion-view>
