
<ion-view view-title="{{ 'locaP' | translate }}" ng-controller="lenguajeCtrl" ng-init="existeInternetUbicacionGeneral()">
    <ion-nav-buttons side="left">

        <button menu-toggle="rigth" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons> 

    <ion-content ng-controller="buscarCtrl" class="contenedor_reducir">
        <div class="divisor_negro"></div>

        <div ng-if="!conexion_internet_ubicacion_g" class="estilo_conexion_internet">
            <center>{{ 'sinconexion' | translate }}</center>
        </div> 

        <form ng-submit="cargar_productos(nombre_buscar)">

            <div class="row">
                <div class="col"><label class="item item-input {{colorear}}"><input id="nombreBusar" ng-change="colorSuccess();
                                        chageInputreset()"  ng-model="nombre_buscar" ng-change="reset_lista_buscados()"  type="text" placeholder="{{ 'np' | translate }}" /></label></div>
                <button class="button button-icon icon ion-ios-search-strong color_iconos" type="submit" ></button>
            </div>
        </form>
        <!--icono de cargando-->
        <center ng-show="cargando"> <ion-spinner icon="android"></ion-spinner> </center>

        <div  ng-controller="prod_detail_Ctrl">

            <ion-item  class="item-remove-animate item-avatar item-icon-right" ng-repeat="producto in productosEncontrados" type="item-text-wrap" >

                <img ng-if="producto.imagen" src="http://shoplist-shoplistrk.rhcloud.com/img/files/{{producto.imagen}}">
                <img ng-if="!producto.imagen" src="img/noencontrado.gif">

                <h2>{{producto.nom_prod}}  </h2>
                <span class="item-note">
                    $ {{producto.pvp_prod}}
                </span>

                <a class="button button-icon icon ion-map color_iconos"  ng-controller="prod_detail_Ctrl" ng-click="login();
                                                    cargar_Ubicacion_Buscada(producto)" ></a>

            </ion-item>
        </div>
    </ion-content>
</ion-view>
