<ion-view view-title="Shop-List" ng-controller="lenguajeCtrl"  
    ng-init="getDatosSupermercado(); existeInternetSupermercado()">

     <ion-nav-bar  class="bar-positive nav-title-slide-ios7">
        <ion-nav-back-button class="button-clear">
            <i class="ion-arrow-left-c"></i> {{ 'atras' | translate }}
        </ion-nav-back-button>
    </ion-nav-bar>  

    <ion-content class="contenedor_total">
        <div class="divisor_negro"></div>
        <!--verificar conexion a internet-->
        <div ng-if="!conexion_internet_supermercado" class="estilo_conexion_internet">
            <center>{{ 'sinconexion' | translate }}</center>
        </div> 
        <!--presentar datos-->
        <a class="item" href="#">
            <center>{{datosSupermercado.nombre}} </center>

        </a>
        <a class="item item-icon-left" href="#">
            <i class="icon ion-android-phone-portrait" ></i>
            <center>{{datosSupermercado.telefonos}} </center>
        </a>
        <a class="item item-icon-left" ng-click="iniciarmap(datosSupermercado)">
            <center> {{ 'vermapa' | translate }} <img class="icon" src="img/google-maps-icon.png"> </center>
        </a>
        <!--dibujar mapa-->
        <div id="map-canvas"></div>
    </ion-content>
</ion-view>
