<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
        <title></title>

        <link href="lib/ionic/css/ionic.css" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet">
        <link rel="shortcut icon" href="">

        <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
        <link href="css/ionic.app.css" rel="stylesheet">
        -->

        <!-- ionic/angularjs js -->
        <script src="lib/ionic/js/ionic.bundle.js"></script>

        <!-- cordova script (this will be a 404 during development) -->
        <script src="cordova.js"></script>

        <!-- your app's js -->
        <!--script-->
        <script src="js/scripts/configPaypal.js"></script>
        <script src="js/scripts/configVariables.js"></script>
        <script src="js/app.js"></script>
        <script src="js/controllers.js"></script>
        <script src="js/controllers/login-controllers.js"></script>
        <script src="js/controllers/recuperar-controllers.js"></script>
        <script src="js/controllers/super-controllers.js"></script>
        <script src="js/controllers/perfil-controllers.js"></script>
        <script src="js/controllers/seguimiento-controllers.js"></script>
        <script src="js/controllers/manual-controllers.js"></script>
        <script src="js/servicios/servicios-listas.js"></script>
        <script src="lib/ng-cordova.min.js"></script>
        <script src="lib/ngStorage.min.js"></script>
        <script src="lib/angular-translate.min.js"></script>
        <!--load plugin for paypal-->
        <script type="text/javascript" src="js/paypal-mobile-js-helper.js"></script>
        <script src="idioma/idioma.js"></script>

    </head>
    <body ng-app="starter" >

        <!--
          The nav bar that will be updated as we navigate between views.
        -->

    <ion-nav-bar class="bar-stable">
        <ion-nav-back-button>
        </ion-nav-back-button>
    </ion-nav-bar>
    <!--
      The views will be rendered in the <ion-nav-view> directive below
      Templates are in the /templates folder (but you could also
      have templates inline in this html file if you'd like).
    -->

    <!--menu-->
    <ion-side-menus>
        <ion-pane ion-side-menu-content>
            <!--<ion-nav-bar class="bar-positive nav-title-slide-ios7">-->
            <ion-nav-bar class="bar-positive nav-title-slide-ios7">
                <ion-nav-back-button class="button-icon"><span class="icon ion-ios7-arrow-left"></span></ion-nav-back-button>
            </ion-nav-bar>
            <ion-nav-view></ion-nav-view>
        </ion-pane>

        <ion-side-menu side="left" >
            <ion-header-bar class="bar bar-header bar-positive">
                <div class="title"> {{ 'menu' | translate }}</div>
            </ion-header-bar>
            <ion-content has-header="true">
                <ion-list>
                    <ion-item class="item-icon-left" href="#/bienvenido" menu-close>
                        <i class="icon ion-social-buffer calm"></i>{{ 'inicio' | translate }} 
                    </ion-item>

                    <ion-item class="item-icon-left" href="#/supermercados" menu-close>
                        <i class="icon ion-ios-browsers calm"></i>{{ 'supermercados' | translate }} 
                    </ion-item>
                   
                    <ion-item class="item-icon-left" href="#/perfil" menu-close> 
                        <i class="icon ion-person calm"></i>{{ 'perfil' | translate }}
                    </ion-item> 
                    <ion-item class="item-icon-left" href="#/manual" menu-close> 
                        <i class="icon ion-filing calm"></i>{{ 'ayuda' | translate }}
                    </ion-item> 

                    <ion-item class="item-icon-left" ng-controller="loginCtrl" ng-click="logout()"  
                        menu-close>
                        <i class="icon ion-log-out calm"></i>{{ 'salir' | translate }}</ion-item> <!--promociones-->
                    <!-- change lenguaje-->  
                    <ion-item ng-controller="lenguajeCtrl"> 
                        <a class="item-note ">
                            <button class="button button-clear  button-positive" 
                                ng-click="ChangeLanguage('en')">EN</button>
                            <button class="button button-clear button-positive" 
                                ng-click="ChangeLanguage('es')">ES</button>
                        </a>
                    </ion-item> <!--promociones-->
                </ion-list>
            </ion-content>
        </ion-side-menu>

        <!--<ion-side-menu side="right">
            <ion-header-bar class="bar bar-header bar-positive">
                <div class="title"> {{ 'menu' | translate }}</div>
            </ion-header-bar>
            <ion-content has-header="true">
                <ion-list>
                    
                    <ion-item class="item-icon-left" ng-controller="ubisupermercadoCtrl" 
                        ng-click="irSupermercado()" menu-close> 
                        <i class="icon ion-ios-navigate-outline calm"></i>  {{ 'supermercado' | translate }}</ion-item> 
                </ion-list>
            </ion-content>
        </ion-side-menu>
        -->
    </ion-side-menus>
</body>
</html>
