<ion-view  view-title="Sign-In" hide-nav-bar="true">
     <!--contenedor-->
    <ion-content class="bienvenidocontent">
      <div class="row">
        <div class="col">
          <!--img central-->
          <center>
            <div class="contenedor_central content_central_img logoPrincipal">
            </div>
               <p class="text-center" ng-controller="lenguajeCtrl">
              <a href="#" ng-click="ChangeLanguage('en')">{{ 'ingles' | translate }}</a>
              <a href="#" ng-click="ChangeLanguage('es')">{{ 'espaniol' | translate }}</a>
            </p>
          </center>
        </div>
      </div>

      <form name="formularioLogin">
        <div class="list placeholderIndex">
          <label class="item item-input item-floating-label">

            <span class="input-label">{{ 'correo' | translate }}</span>
            <input type="email" placeholder="{{ 'correo' | translate }}" 
              ng-model="user.email" required>
          </label>
          <label class="item item-input item-floating-label">
            <span class="input-label">{{ 'contrasenia' | translate }}</span>
            <input type="password" placeholder="{{'contrasenia'| translate }}" 
              ng-model="user.password" required>
          </label>

          <div class="padding link-login">
            <button class="button button-block button-positive" 
              ng-disabled="formularioLogin.$invalid"
              ng-click="login(user)">
              {{ 'iniciar_secion' | translate }}
            </button>
            <p class="text-center">
              <a href="#/recuperarclave">{{ 'olvidaste_contrasenia' | translate }}</a>
            </p>
            <p class="text-center">
              <a href="#/registrarse">{{ 'registrarse' | translate }}</a>
            </p>
          </div>
        </div>
      </form>

    </ion-content>
</ion-view>
